html {overflow-y: scroll;
    margin: 0px;
}
a {
    color: darkblue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: maroon;
}

body {
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('ticks.png');
    background-color: cornsilk;
}


#banner {
    color: black;
    font-family: Georgia;
    width: 960px;
    height: 90px;
    border-bottom: 2px solid maroon ;
   margin-bottom: 20px;

}

#name_display {
    margin-top: 35px;
    margin-left: 170px;
    float: left;
    font-family: Arial;
    font-size: 12px;


}

#title {
    /*padding-left: 335px;*/

    color: crimson;
    text-shadow:2px 2px maroon;
    margin-bottom: 10px;
    font-size: 50px;

}

#search {
   /* margin-left: 60px;*/
    margin-top:-10px;
    float: right;
    width:200px;
}

#nav {
    float: left;
    padding-left: 10px;
    /*border: 1px solid red;*/
}
#nav form {

    padding: 8px;
    /*border: 1px solid red;*/
}

#nav a {
    /*display: block;*/
    width: 126px;

    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-family: arial;
  /*  border: 1px solid red;*/
}

#nav small{
    font-style: italic;
    font-family: Arial;
    padding-left: 10px;

}

#nav a:hover{
    text-decoration: underline;


}

#about {
    font-family: Arial;
    width: 920px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid maroon;
}

#login_register {
    float: left;
    width: 300px;
    padding: 10px;
    border: 3px double maroon;
}
#login_register table {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin-top: 0px;
    font-size: 20px;

    color: black;
}

#section_main{
    display: block;
    float: left;
    margin-bottom: 40px;
 /*  border: 1px solid red;*/

}


.options {
    float: right;
}
#divider{
    float: left;
    width:1px;
    height:500px;
    margin-right: 20px;
    border-right: 2px solid maroon;
    box-shadow: 2px 2px 8px #888888;

}

#comments {
    width:360px;
    float: left;
    margin-top: -20px;
}

#comment {
    background-color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 360px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: 3px 3px 8px #888888;
}



#recipe_title_link {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#recipe_title_link:hover {
    text-decoration: underline;
}

#recipes_toolbar {
    color: white;
    font-family: arial;
    padding: 2px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: maroon;
    width: 506px;
    height: 40px;
    line-height: 30px;
}
#recipes_toolbar a {
    color: white;
    padding-right: 5px;
    float: right;
}

.featured_recipes {
    float: left;

    width: 360px;

    margin-right: 20px;
    min-height: 400px;

}


.recipe_display {
    background-color: whitesmoke;
    box-shadow: 3px 3px 8px #888888;
    padding: 10px;
    padding-bottom: 30px;
}

.float_me {
    display: block;
    float: left;
    margin-right: 10px;
   /* border: 1px solid red;*/
}

.recipe{
    width: 500px;
    border-bottom: 1px solid maroon;
    padding: 5px;

}