<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.github.russ4stall.reciperoots.users.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/myrecipes</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/delete</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.users.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.users.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyRecipesServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.recipes.servlets.MyRecipesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyRecipesServlet</servlet-name>
        <url-pattern>/myrecipes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.recipes.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewRecipeServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.recipes.servlets.ViewRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRecipeServlet</servlet-name>
        <url-pattern>/viewrecipe</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddEditServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.recipes.servlets.AddEditRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.recipes.servlets.DeleteRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BrowseServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.recipes.servlets.BrowseRecipesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrowseServlet</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.github.russ4stall.reciperoots.users.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

</web-app>

